"
The Requirements for Hokage…!!
" (
火影の条件…!!
,
Hokage no Jōken…!!
,
Viz:
 To Be a Hokage…!!) is chapter 552 of the original
Naruto
 manga.

Summary

Itachi
 finishes sealing
Nagato
.
Kabuto
 expresses frustration on Nagato's sealing, believing that his amplified field of vision would compensate his impaired mobility, though Itachi managed to exploit its blind-spots. Kabuto considers using his trump card. Itachi says he has a plan and will handle
Summoning: Impure World Reincarnation
, but
Naruto
 insists on fighting on his own and attempts to make more
shadow clones
, but begins feeling the effects of extended use of the
Nine-Tails Chakra Mode
. Itachi reminds Naruto that, while he is much stronger than before, he shouldn't forget the people who supported him, that doing things on his own will lead to failure, knowing from his own experience. Killer B tells Naruto about his promise to Iruka to keep Naruto safe. Itachi
destroys
 the
crow
 and Shisui's Sharingan, as it'll take another decade before its power can be used again, and then leaves. The Allied Forces shinobi fighting the
Second Mizukage
 are confused by the
Giant Clam
's
mirages
, despite the Mizukage's advice.
Temari

cuts
 through the
Third Raikage
, signalling the
Sealing Team
 to act.
Gaara

detects
 the
invisible
 Mū behind
Ōnoki
, who strains his back.
Mū
 prepares to attack, and Gaara notices a Rasengan behind Mū.